
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0; 
    padding: 0; 
}

#functionalities-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E3E6F3;
    z-index: 1000; 
    text-decoration: none;
}

#user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px; 
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#user-header .logo {
    display: flex;
    align-items: center;
}

#user-header .logo img {
    cursor: pointer;
    margin-right: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
}

nav ul li {
    margin-bottom: 10px;
    
}
nav ul li a{
    text-decoration: none;
}
#dashboard-menu {
    display: none;
}

#dashboard-content {
    padding: 20px;
}

#user-footer {
    padding: 20px;
}
#functionalities-containerl li a{
    text-decoration: none;
}


#sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E3E6F3;
    overflow-x: hidden;
    padding-top: 20px;
    visibility: hidden;

}

#main-content {
    margin-left: 0px; 
    transition: margin-left 0.5s;

}

#user-header {
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    /* position: sticky; */
    top: 0;
    left: 0;
}
#sidebar ul li {
    margin-top:20px ;
    padding-top: 20px;
    list-style: none;
}
#sidebar ul li a{
    text-decoration: none;
     color: blue;

}

.equipment-item {
    margin-bottom: 20px;
    display: block;
}
 
